<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scope</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <div class="login-section">
            <h2>Password Reset</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Reset Password</button>
            </form>
            <button onclick="window.location.href='/login/'">Back to Login</button>
        </div>
        <div class="image-section">
            <img src="path/to/your/image.jpg" alt="City Image">
        </div>
    </div>
</body>
</html>